body,h1,h2,h3,h4,h5,h6,p,ul,ol{margin:0;padding:0;}

.header {
    background-color: #232323;
    border-bottom: 1px solid #151515;
    display: block;
    font-family: tahoma,Geneva,sans-serif;
    font-size: 18px;
    color: #8F887C;
}

#sidebar {
	
	float:right;
	font-size: 9; 
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	width: 20%
}
#content {
	float:left;
	width: 100%;
	background: -moz-linear-gradient(center top , #E3E3E2 0%, #D2D1D0 300px, #D2D1D0 100%) repeat scroll 0 0 transparent;
    border-top: 1px solid #FFFFFF;
    margin: 0 auto;
    min-height: 540px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.footer {
    background-color: #333333;
    border-bottom: 1px solid #444444;
    border-top: 1px solid #383838;
    box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
    color: #8F887C;
    font-family: tahoma,Geneva,sans-serif;
    font-size: 12px;
    line-height: 22px;
    min-width: 984px;
}

.container {
    margin: 0 auto;
    width: 984px;
}

.col-s-content {
    float: left;
    width: 616px;
}

.large-sidebar {
    color: #353535;
    float: right;
    width: 345px;
}


.large-sidebar div.last-item {
    border-bottom: 1px solid #A6A6A6;
}

.large-sidebar div.inner-boundary {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A8A8A8 #A8A8A8 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
}

.inner-boundary {
    border: 1px solid #D5D5D5;
}

div.large-sidebar div.inner-boundary div.author-item {
    margin-bottom: 0;
    padding-right: 10px;
}
.large-sidebar div.last-item div.inner-border {
    border-bottom: 1px solid #FCFCFC;
}
.large-sidebar div.inner-boundary div.inner-border {
    background-color: #E0E0E0;
    border-color: #F9F9F9 #F9F9F9 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    padding: 15px 20px;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}




.inner-boundary .inner-border {
    border: 1px solid #FEFEFE;
}




.search {
	border-color: #CECECC;
	border-style: solid;
	border-spacing: 0px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

.text-form {
	font:11px verdana,arial,helvetica,sans-serif;
}



.text-title {
	font:24px verdana,arial,helvetica,sans-serif;
}
.text-title-section {
	font:24px verdana,arial,helvetica,sans-serif;
}

.text-comment {
	font: 11px verdana,arial,helvetica,sans-serif;
}

.button {
	font: 11px verdana,arial,helvetica,sans-serif;
}
/*** SideBar ***/


ul,ol{
	list-style: none outside none;
	list-style-position: outside;
	margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
}

a{text-decoration:none;color:#0D355E; font: 11px verdana,arial,helvetica,sans-serif;}

.menu-vert li{background: transparent url('../images/home/li.png') no-repeat;position:relative;margin: 7px 0 0 10px;padding: 0 0 15px 20px;border-bottom:1px dotted #0D355E;width:235px;}

