body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin:0;padding:0;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
h1, h2, h3, h4, h5, h6 {font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;}

.header {
    background-color: #232323;
    border-bottom: 1px solid #151515;
    display: block;
    font-family: tahoma,Geneva,sans-serif;
    font-size: 18px;
    color: #8F887C;
    height: 33px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header #logo {
	width: 200px;
	float:left;
	
}

.header #logo a {
	font-size: 18px;
    color: #B4B4b4;
    font: 24px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight:bold;   
    padding-left: 9px; 
}

#sidebar {
	float:right;
	font-size: 9; 
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	width: 20%
}
#content {
	float:left;
	width: 100%;
	background: -moz-linear-gradient(center top , #E3E3E2 0%, #D2D1D0 300px, #D2D1D0 100%) repeat scroll 0 0 transparent;
    border-top: 1px solid #FFFFFF;
    margin: 0 auto;
    min-height: 540px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.footer {
    background-color: #333333;
    border-bottom: 1px solid #444444;
    border-top: 1px solid #383838;
    box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
    color: #8F887C;
    font-family: tahoma,Geneva,sans-serif;
    font-size: 12px;
    line-height: 22px;
    min-width: 984px;
    clear: both;
}

.container {
    margin: 0 auto;
    width: 984px;
}

.col-s-content {
    float: left;
    width: 650px;
}

.large-sidebar {
    color: #353535;
    float: right;
    width: 315px;
}


.large-sidebar div.last-item {
    border-bottom: 1px solid #A6A6A6;
}

.large-sidebar div.inner-boundary {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A8A8A8 #A8A8A8 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
}

.inner-boundary {
    border: 1px solid #D5D5D5;
}

div.large-sidebar div.inner-boundary div.author-item {
    margin-bottom: 0;
    padding-right: 10px;
}
.large-sidebar div.last-item div.inner-border {
    border-bottom: 1px solid #FCFCFC;
}
.large-sidebar div.inner-boundary div.inner-border {
    background-color: #E0E0E0;
    border-color: #F9F9F9 #F9F9F9 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    padding: 15px 20px;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

.item-title {
	
}



.inner-boundary .inner-border {
    border: 1px solid #FEFEFE;
}



/*------------------------------------------------	BEGIN  	SEARCH ------------------------------------------		*/
#searchForm{
	padding: 10px 10px 10px 5px;
	float: right;
	width: 240px;
	height: 24px;
}
#searchForm input{
	border:1px solid #899caa;
	border-radius:3px;
	-moz-border-radius:3px;
	color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
    float:left;
}
#searchForm #searchButton{
	width:auto;
	padding:7px 10px 8px 10px;
	box-shadow:none;
	-moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
    float:left;
}
/*------------------------------------------------	END  	SEARCH ------------------------------------------		*/
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}



.text-form {
	font:11px verdana,arial,helvetica,sans-serif;
}



.text-title {
	font:24px verdana,arial,helvetica,sans-serif;
}
.text-title-section {
	font:24px verdana,arial,helvetica,sans-serif;
}

.text-comment {
	font: 11px verdana,arial,helvetica,sans-serif;
}

.list-operator-item {
	float: right;
}

.button {
	font: 11px verdana,arial,helvetica,sans-serif;
}
/*** SideBar ***/


ul,ol{
	list-style: none outside none;
	list-style-position: outside;
	margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
}

a{text-decoration:none;color:#0D355E; font: 11px verdana,arial,helvetica,sans-serif;}

.menu-vert li{background: transparent url('../images/home/li.png') no-repeat;position:relative;margin: 7px 0 0 10px;padding: 0 0 15px 20px;border-bottom:1px dotted #0D355E;width:235px;}


/*** List Item **/

div.shadowed {
    border: 1px solid #BBBBBB;
}

#items .item-list, #collections .item-list, #featured-item .item-list {
    border: 1px solid #FFFFFF;
}

#items .item-list li, #collections .item-list li, #featured-item .item-list li {
    background-color: #F4F4F4;
    border-bottom: 1px solid #D5D5D5;
    border-top: 1px solid #FFFFFF;
    font-size: 11px;
    list-style: none outside none;
    padding: 20px;
    position: relative;
}

#items .item-list li span.thumbnail, #collections .item-list li spa.thumbnail, #featured-item .item-list li span.thumbnail {
    display: block;	
    float: left;
    margin-right: 20px;
}



/*------------------------------------------------	Begin	BOOK ITEM ------------------------------------------		*/

.item-title a{
	font-size: 16px; 
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}


.item-list a:HOVER{
	color: #FF5500;
}

.item-list .book {
	height: 80px;	
}

.item-list .book img, .book-description img {
	float: left;
	height: 90px;
	padding-right: 25px;
}

.item-list .book .book-resume-item, .book-description .details-more-info {
	float: left;
}

.item-list .book list-operator-item {
	float: right;
}

/*------------------------------------------------	end  	BOOK ITEM ------------------------------------------		*/
/*------------------------------------------------	begin  	BOOK DETAILS ------------------------------------------		*/

.comment-list{
	clear: both;
}

/*------------------------------------------------	end  	BOOK DETAILS ------------------------------------------		*/

/*------------------------------------------------	begin  	MENU BAR ------------------------------------------		*/
.menu-bar {
	background-color: #4B4B4B;
	height: 45px;
	clear: both;
}

.menu-bar ul li {
	float: left;
	padding-bottom: 0px;
	padding-top: 15px;
}

.menu-bar ul li a{
	color: #B4B4B4;
	font-size: 16px;
	font-weight:bold;    
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	padding: 10px 10px 10px 10px;
}
.menu-bar ul li a:HOVER{
	background-color:#B4B4B4;
	color: #4B4B4B;
	padding: 10px 10px 10px 10px;
	font-weight:bold;
	border-radius:6px 6px 0 0;   
}

/*------------------------------------------------	end  	MENU BAR ------------------------------------------		*/

h3 {
    font-size: 24px;
}

/*						USER				**/
dl.form-list {
    font-size: 13px;
    overflow: hidden;
    padding: 0;
}

dl.form-list dt {
    clear: both;
}
dl.form-list dt {
    float: left;
    font-weight: normal;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    padding: 5px 0 0;
    width: 90px;
}

/* div.col-s-content form input, 
div.col-s-content form select, 
div.col-s-content form textarea, 
div.col-content form input, 
div.col-content form select, 
div.col-content form textarea, 
.form-list input, 
.form-list select, 
.form-list textarea, 
#fancybox-inner input, 
#fancybox-inner select, 
#fancybox-inner textarea {
    background: url("../images/home/input_bg_slice.png") repeat-x scroll left top #FEFEFE;
    border: 1px solid #9A9A9A;
    color: #7C7C7C;
    font-size: 12px;
    margin: 5px 0;
    padding: 8px 5px;
    width: 145px;
} */

div.col-s-content form input.big, div.col-s-content form select.big, div.col-s-content form textarea.big, div.col-content form input.big, div.col-content form select.big, div.col-content form textarea.big, div#accordion form input.big, div#accordion form select.big, div#accordion form textarea.big, .form-list input.big, .form-list select.big, .form-list textarea.big, #fancybox-inner input.big, #fancybox-inner select.big, #fancybox-inner textarea.big {
    width: 210px;
}


/*					Button  		*/

.buttons input{
	background: url("../images/home/input_bg_slice.png") repeat-x scroll left top #FEFEFE;
    border: 1px solid #9A9A9A;
    color: #7C7C7C;
    font-size: 12px;
    margin: 5px 0;
    padding: 8px 5px;
    width: 120px;
	height: 30px;
}

.link-item {
	color: #AF712F;	
}

/*------------------------------------------------	BEGIN  	LOGIN ------------------------------------------		*/


/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
/*     background:#d2e0ea url(../images/Login/buttonbg.png) repeat-x; 
    border:1px solid #899caa; 
    border-radius:3px; */
    -moz-border-radius:3px;
    background-color: #232323;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#loginButton span, #logoutButton a {
    color:#B4B4b4; 
    font-size:14px; 
    font-weight:bold; 
    /* text-shadow:1px 1px #fff;  */
    padding:7px 29px 9px 10px;
    /* background:url(../images/Login/loginArrow.png) no-repeat 53px 7px; */
    display:block
}
#loginButton span:HOVER, #logoutButton a:HOVER {
	color:#4B4B4B; 
    font-size:14px; 
    font-weight:bold;
}

#loginButton:hover, #logoutButton a:HOVER  {
    /* background:url(../images/Login/buttonbgHover.png) repeat-x; */
    background-color: #B4B4B4;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
.loginForm {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#B4B4B4;
    padding:6px;
}

.loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

.loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

.loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
.loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
.loginForm #login {
    width:auto;
    float:left;
    /* background:#339cdf url(../images/Login/loginbuttonbg.png) repeat-x; */
    color:#3a454d;
    padding:7px 10px 8px 10px;
    /* text-shadow:0px -1px #278db8; */
    /* border:1px solid #339cdf; */
     box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
.loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

.loginForm span a {
    color:#3a454d;
/*     text-shadow:1px 1px #fff; */
    font-size:12px;
}

input:focus {
    outline:none;
}


/*------------------------------------------------	END  	LOGIN ------------------------------------------		*/



