/* 
    Document   : style
    Created on : 06/08/2011, 10:47:38
    Author     : Nahuel
    Description:
        Purpose of the stylesheet follows.
*/
/* ======================= */
/* Generales */
/* ======================= */
body { 
    background: transparent url(../images/background-pattern.png);  
    font-size: 16px;
    font-weight: normal;
    font-family: tahoma;
}
/* ======================= */
/* Encabezado */
/* ======================= */

#encabezado { 
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}

.centrar{ 
    width: 900px;
    margin: 0 auto;
}

#logo { 
    height: 195px;
    width: 215px;
    background: transparent url(../images/logo.png);  
    display: block;
    text-indent: -9999px;
    float: left;
    margin-top: 2px; 
}

#bloque-derecho { 
    height: 138px;
    width: 450px;
    float: right;
    position: relative;
}

#usuario {
    display: block;
    width: 100%; 
    height: 50px; 
    position: relative;
	z-index: 1;
}

#login-button, #logout-button {
    margin: 0 0 0 255px;
    float: left;
}

#login-button, #name-to-profile, #logout-button, #registrarse-button, .botones_header{
    padding: 10px;
    border: 1px solid black;
    border-top: 0;
    background: white;
    text-decoration: none;
    color: black;
}

#registrarse-button, #name-to-profile {
    float: right;
    padding: 11px;
}

#filtros {
    display: block;
    width: 100%; 
    position: absolute;
    bottom: 1px;
    right: 0;
    background: white;
    border: 1px solid black;
    border-bottom: 0;
    padding: 10px;
    padding-bottom: 0;
}

#categorias, #buscar {
    border: 1px solid black;
}

#buscar {
    width: 45%;
    float: left;
    padding: 5px;
}

#categorias {
    width: 45%;
    float: right;
    padding: 4px;
}

option {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

option:nth-child(even) { background: #ddd }
option:nth-child(odd) { background: #fff}

.botones_header {
	background: none;
    font-size: 14px;
	position: absolute;
	border: none;	
	z-index: 2;
}


.botones_header #book_store, #librarys{
	background: black;
	color: white;
	text-decoration: none;
	cursor: pointer;
	margin: 0 13px 0 0;
	padding: 13px;
	}

/* ======================= */
/* Cuerpo */
/* ======================= */
#cuerpo { 
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: white;
    position: relative;
    top: -61px;
    width: 100%;
    float: left;
    display: block;
    z-index: 0;
    padding: 85px 0 25px 0 ;
    min-height: 660px;
}


.container {
    margin: 0 auto;
    width: 960px;
}

.col-s-content {
/*     float: left; */
/*     width: 850px; */
/*     margin : 0 auto; */
}

.large-sidebar {
    color: #353535;
    float: bottom;
    width: 138px;
}


/* ======================= */
/* Resultado */
/* ======================= */

#resultados,  #resultados-book-in-top-list, #resultados-recommendation-list {
    width: 790px;
    margin: 0 auto;
}

#resultados li.libro, #resultados-book-in-top-list li.libro, #resultados-recommendation-list li.libro{
    float: left;
    width: 240px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

div.imagen {
    float: left;
    width: 122px;
    height: 180px;
}

ul.detalles {
    float: left;
    width: 113px;
    height: 180px;
    margin: 0 0 0 5px;
    position: relative;
}

ul.detalles li {
    float: left;
    width: 100%;
    font-weight: normal;
    padding: 5px 0;
}

ul.detalles li.titulo {
    padding:0 0 5px 0;
    font-weight: bold;
    border-bottom: 1px dashed black;    
}

ul.detalles li.autor, ul.detalles li.isbn {
    border-bottom: 1px dashed black;    
}

ul.detalles li.votos, ul.detalles li.comentarios {
    position: absolute;
    bottom: 35px;
    width: 45%;
}

ul.detalles li.comentarios {
    left: 60px;
}

ul.detalles li.verDetalles {
    position: absolute;
    bottom: 0;
    background: black;
    font-size: 14px;
}

ul.detalles li.verDetalles a {
    padding: 3px 16px;
    text-decoration: none;
    color: white;
    float: left;
}

/* ======================= */
/* Detalles */
/* ======================= */

#detallesLibro {
    width: 790px;
    margin: 0 auto;
}

#resumen {
    width: 800px;
    min-height: 220px;
    float: left;
    padding: 0 0 5px 0;
    border-bottom: 1px black dashed;
}

#libro-bloque-izquierdo, #libro-bloque-derecho {
    display: block;
    float: left;
    width: 17%;
}

#libro-bloque-derecho {
    width: 83%;
}

.estadisticas {
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
}

.estadisticas .votos , .estadisticas .comentarios {
    width: 50%;
    float: left;
    padding: 10px 0;
}

.datos {
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px black dashed;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    line-height: 20px;
}

.datos .titulo {
    font-weight: bold;
    font-size: 16px;
}

.datos .auto{
    padding: 5px 0 0 0;
}

.descripcion {
    line-height: 18px;
    font-size: 14px;
    border-bottom: 1px black dashed;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
}

.barra {
    display: block;
    float: left;
    width: 100%;
}

.barra a , .barra span{
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    float: left;
    background: black;
    font-size: 14px;
    cursor: pointer;
}

.barra a#buscar-librerias, .barra a#buscar-mapa, .barra a#buscar-listado {
    float: right;
}

.lista-de-comentarios {
    padding: 10px 0 10px 0;
    float: left;
    border-bottom: 1px black dashed;
}

.lista-de-comentarios li {
    padding: 5px;
    border: 1px solid gray;
    padding: 10px 30px;
    position: relative;
    font-size: 14px;
    margin: 5px 0 0 0;
    width: 738px;
}

.lista-de-comentarios li .nick {
    font-weight: bold;
    line-height: 22px;
}

.lista-de-comentarios li .nick a{
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    color: black;
}

.lista-de-comentarios li .icon-comment, .lista-de-comentarios li .icon-responder {
    position: absolute;
}

.lista-de-comentarios li .icon-comment {
    top: 12px;
    left: 3px;
}

.lista-de-comentarios li .icon-responder {
    bottom: 10px;
    right: 3px;
}

.lista-de-comentarios li.respuesta div {
    position: relative;
    padding: 15px 30px;
    background: white;
    border: 1px gray solid;

}

.lista-de-comentarios li.respuesta .icon-comment {
    top: 38px;
}

.lista-de-comentarios li.respuesta {
    background: #E6E6E6;
    border-top: 0;
    margin-top: 0;
    padding: 15px 45px ;
}

.hacia-el-usuario {
    font-size: 14px;
    border-bottom: 1px black dashed;
    width: 100%;
    display: block;
    padding: 0 0 5px 0;
}

.barra .operation-button{
    margin: 5px 0 0px 5px;
    float: right;
}

#nuevo-comentario, #nueva-reserva {
    float: left;
    width: 100%;
    position: relative;
    min-height: 130px;
    display: none;
    border-bottom: 1px dashed black;
}

#nueva-reserva {
    float: left;
    width: 100%;
    position: relative;
    height: 50px;
    display: none;
}

#nueva-reserva #reservar {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    float: right;
    background: black;
    font-size: 14px;
    position: relative;
    bottom: 0;
    right: 35px;
}

#nueva-reserva p {
	padding: 5px 0;
}

#nueva-reserva form {
	padding-left: 36px;
}

#nuevo-comentario p {
    padding: 5px 0; 
    width: 90%;
    margin: 0 auto;
    display: block;
}

#nuevo-comentario textarea {
    width: 90%;
    margin: 0 auto;
    display: block;
}

#nueva-reserva select {
	width: 40%;
	margin: 0 auto;
}


#nuevo-comentario #enviar {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    float: right;
    background: black;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 35px;
}

/* ======================= */
/* Lista de librarias */
/* ======================= */

#buscar-listado {
    display: none;
}

#lista-de-librerias {
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px black dashed;
    display: none;
}

#lista-de-librerias table {
    width: 100%;
    border: 1px gray solid;
}

#lista-de-librerias table tr {
    border: 1px gray solid;
}

#lista-de-librerias table td {
    padding: 5px 0;
    text-align: right;
}

#lista-de-librerias table td:first-child {
    text-align: left;
    padding: 0 0 0 5px;
}

#lista-de-librerias table td .icon {
    margin: 0 5px;
    float: right;
}
#lista-de-librerias table tr:nth-child(even) { background: #ddd }
#lista-de-librerias table tr:nth-child(odd) { background: #fff}

/* ======================= */
/* Mapa */
/* ======================= */

#buscar-mapa {
    display: none;
}

#mapa {
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px black dashed;
    display: none;
}

/* ======================= */
/* POPUP */
/* ======================= */

#fondo-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.75;
    z-index: 3;
    display: none;
}

.popup {
    z-index: 4;
    width: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    background: white;
    border: 4px black solid;
    padding: 10px;
    display: none;
}

.popup .head{
    width: 100%;
    border-bottom: 1px black solid;
    padding: 5px 0;
}

.popup .body{
    width: 100%;
    border-bottom: 1px black solid;
    padding: 5px 0;
}

.popup a#boton-recuperar-pass, .popup a#boton-registrarse {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    float: left;
    background: gray;
    font-size: 14px;
    width: 92%;
    text-align: center;
    margin: 5px 0 0 0;
}

.popup a#boton-recuperar-pass {
    background: none;
    color: black;
}

.popup a#boton-recuperar-pass:hover {
    text-decoration: underline;
}

.popup input{
    width: 100%;
    border: 1px black solid;
    padding: 5px 0;
    margin: 5px 0;
}

.popup input[type=submit]{
    cursor: pointer;
}

#boton-cerrar{
    float: right;
}

#login {
}
#registrarse {   
}
#recuperar {
}

/* ======================= */
/* Iconos */
/* ======================= */
.icon {
    display: block;
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 5px 0 0;
}

.icon-buscar {
    background: transparent url(../images/icons/icon-search.png) 95% 50% no-repeat;
}
.icon-comments {
    background: transparent url(../images/icons/icon-comments.png) 0 0 no-repeat;
}
.icon-votos {
    background: transparent url(../images/icons/icon-votes.png) 0 0 no-repeat;    
}
.icon-login {
    background: transparent url(../images/icons/icon-user.png) 0 0 no-repeat;    
}
.icon-comment {
    background: transparent url(../images/icons/icon-comment.png) 0 0 no-repeat;    
}
.icon-responder {
    background: transparent url(../images/icons/icon-replay-comment.png) 0 0 no-repeat;    
}
.icon-marker {
    background: transparent url(../images/icons/icon-marker.png) 0 0 no-repeat;    
}
.icon-mail {
    background: transparent url(../images/icons/icon-mail.png) 0 0 no-repeat;    
}
.icon-cell {
    background: transparent url(../images/icons/icon-cell.png) 0 0 no-repeat;    
}
.icon-close {
    background: transparent url(../images/icons/icon-close.png) 0 0 no-repeat;    
}


/********* [PAGINAR] *********/
.paginator { 
    height: 40px; 
    text-indent: -9999px;
    width: 925px; 
    margin: 0 auto;
    position: relative;
    top: 280px;
}
.paginator a {
    background-position: -5px -594px; 
    color: #000; 
    cursor: pointer; 
    height: 35px; 
    text-indent: -9999px; 
    width: 35px; 
}
a[title="Previous Page"], a[title="Next Page"] { 
    position: absolute;
    top: 0;
    display: block;
    width: 36px;
    height: 36px;
}

a[title="Previous Page"] { 
    left: 0;
    background: transparent url(../images/icons/icon-arrow-left.png) 0 0 no-repeat; 
}
a[title="Next Page"] { 
    right: 0;
    background: transparent url(../images/icons/icon-arrow-right.png) 0 0 no-repeat; 
}


/*------------------------------------------------	BEGIN  	TOP OF BOOK-------------------------------------		*/


#book-in-top-container {
	padding-top: 20px;
	padding-bottom: 30px;
	height: 500px;
	clear: both;
	position: relative;
	x: 500px;
	y: 500px;
}

.book-in-top-item {
	float:left;
	padding-top: 10px;
	width: 150px;
	height: 250px;
	
}

.book-in-top-item #title a{
	font-weight: bold;
	color:#000000;
}
.book-in-top-item #title a:hover{
	color:#FF7F2A;
}

.book-in-top-item img {
	width: 50px;
	height: 75px;
}

.title-section {
	font-weight: bold;
	font-size: 18px;	
	width: 250px;
	padding-top: 50px;
	padding-bottom: 25px;
	clear: both;
}
/*------------------------------------------------	END  	TOP OF BOOK-------------------------------------		*/

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #000000;
    background-color: #F7F7F7;
   	color:#000000;
    margin: 0 auto;
    width: 743px;
    padding: 5px 5px 5px 30px;
    clear: both;
}

.paginateButtons {
	width: 790px;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 10px;
}

.paginateButtons a, .currentStep	{
	text-decoration: none;
	padding-left: 5px;
}

.paginateButtons .currentStep {
	color: #557FFF;
	font-weight: bold;
}

.paginateButtons .step, .paginateButtons .nextLink, .paginateButtons .prevLink{
	color: black;
}

/*------------------------------------------------	BEGIN  	REGISTRATION-------------------------------------		*/

.registerForm {	
	 width:600px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    /* margin-top:-1px; */
    background:#F7F7F7;
    padding:6px;
    margin: 0 auto;
}

.registerForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

#types_fav label{
	color:#3a454d;
    margin:9px 0 0 0;
    font-weight: bold;
	}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

.registerForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

.checksForm .titles{
	color:#3a454d;
}

.checksForm .examples{
	color:#3a454d;
	font-size: 10px;
}

.checksForm {
	width:350px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#F7F7F7;
    padding:6px;
	float:right;
	
}

.checksForm #description {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 12px;
	color:#3a454d;
}

.checksForm #tags {
	width: 300px;
}


/*------------------------------------------------	END  	REGISTRATION-------------------------------------		*/


/*------------------------------------------------	BEGIN  	PROFILE   -------------------------------------		*/
.item-list, #profile-details {
	width: 782px;
	margin: 0 auto;
}

.item-list li{
	border: 1px solid #000000;
	margin-bottom: 5px;
	height: 100px; 
	clear: both;
	
}

.item-list li img{
	padding: 5px 5px 5px 5px;
	width: 60px;
	height: 90px;
	float: left;
}

.resumen-derecho {
	float: left;
}

#profile-details #name{
	font-weight: bold;
}

#profile-details img {
	float: left;
	margin-right: 10px; 
}
/*------------------------------------------------	END  	PROFILE     -------------------------------------		*/

.star-rating,

.star-rating a:hover,

.star-rating a:active,

.star-rating a:focus,

.star-rating .current-rating{

	background: url(../images/icons/star.gif) left -1000px repeat-x;

}

.star-rating{

	position:relative;

	width:125px;

	height:25px;

	overflow:hidden;

	list-style:none;

	margin:0;

	padding:0;

	background-position: left top;

}

.star-rating li{

	display: inline;

}

.star-rating a,

.star-rating .current-rating{

	position:absolute;

	top:0;

	left:0;

	text-indent:-1000em;

	height:25px;

	line-height:25px;

	outline:none;

	overflow:hidden;

	border: none;

}

.star-rating a:hover,

.star-rating a:active,

.star-rating a:focus{

	background-position: left bottom;

}

.star-rating a.one-star{

	width:20%;

	z-index:6;

}

.star-rating a.two-stars{

	width:40%;

	z-index:5;

}

.star-rating a.three-stars{

	width:60%;

	z-index:4;

}

.star-rating a.four-stars{

	width:80%;

	z-index:3;

}

.star-rating a.five-stars{

	width:100%;

	z-index:2;

}

.star-rating .current-rating{

	z-index:1;

	background-position: left center;

}

/********************/
/** Custom tab view**/
/********************/

/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{margin:0 .5em 0 0;}.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{margin:0 0 .5em;}.yui-navset .yui-content .yui-hidden{border:0;height:0;width:0;padding:0;position:absolute;left:-999999px;overflow:hidden;visibility:hidden;}.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{width:6em;}.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{width:auto;}.yui-navset .yui-navset-left,.yui-navset-left{padding:0 0 0 6em;}.yui-navset-right{padding:0 6em 0 0;}.yui-navset-top,.yui-navset-bottom{padding:auto;}.yui-nav,.yui-nav li{margin:0;padding:0;list-style:none;}.yui-navset li em{font-style:normal;}.yui-navset{position:relative;zoom:1;clear:both;width: 800px;margin:0 auto;}.yui-navset .yui-content,.yui-navset .yui-content div{zoom:1;}.yui-navset .yui-content:after{content:'';display:block;clear:both;}.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{display:inline-block;display:-moz-inline-stack;*display:inline;vertical-align:bottom;cursor:pointer;zoom:1;}.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{display:block;}.yui-navset .yui-nav a{position:relative;}.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,.yui-navset-bottom .yui-nav li a{display:block;display:inline-block;vertical-align:bottom;zoom:1;}.yui-navset-left .yui-nav li a,.yui-navset-right .yui-nav li a{display:block;}.yui-navset-bottom .yui-nav li a{vertical-align:text-top;}.yui-navset .yui-nav li a em,.yui-navset-top .yui-nav li a em,.yui-navset-bottom .yui-nav li a em{display:block;}.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{position:absolute;z-index:1;}.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{position:static;}.yui-navset .yui-navset-left .yui-nav,.yui-navset-left .yui-nav{left:0;right:auto;}.yui-navset .yui-navset-right .yui-nav,.yui-navset-right .yui-nav{right:0;left:auto;}.yui-skin-sam .yui-navset .yui-nav,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav{border:solid #2647a0;border-width:0 0 5px;zoom:1;}.yui-skin-sam .yui-navset .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav li{margin:0 .16em 0 0;padding:1px 0 0;zoom:1;}.yui-skin-sam .yui-navset .yui-nav .selected,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected{margin:0 .16em -1px 0;}.yui-skin-sam .yui-navset .yui-nav a,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a{background:#d8d8d8 url(../../../../assets/skins/sam/sprite.png) repeat-x;border:solid #a3a3a3;border-width:0 1px;color:#000;position:relative;text-decoration:none;}.yui-skin-sam .yui-navset .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em{border:solid #a3a3a3;border-width:1px 0 0;cursor:hand;padding:.25em .75em;left:0;right:0;bottom:0;top:-1px;position:relative;}.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a:focus,.yui-skin-sam .yui-navset .yui-nav .selected a:hover{background:#2647a0 url(../../../../assets/skins/sam/sprite.png) repeat-x left -1400px;color:#fff;}.yui-skin-sam .yui-navset .yui-nav a:hover,.yui-skin-sam .yui-navset .yui-nav a:focus{background:#bfdaff url(../../../../assets/skins/sam/sprite.png) repeat-x left -1300px;outline:0;}.yui-skin-sam .yui-navset .yui-nav .selected a em{padding:.35em .75em;}.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a em{border-color:#243356;}.yui-skin-sam .yui-navset .yui-content{background:#FFFFFF;}.yui-skin-sam .yui-navset .yui-content,.yui-skin-sam .yui-navset .yui-navset-top .yui-content{border:1px solid #808080;border-top-color:#243356;padding:.25em .5em;}.yui-skin-sam .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav{border-width:0 5px 0 0;Xposition:absolute;top:0;bottom:0;}.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav{border-width:0 0 0 5px;}.yui-skin-sam .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset-right .yui-nav li{margin:0 0 .16em;padding:0 0 0 1px;}.yui-skin-sam .yui-navset-right .yui-nav li{padding:0 1px 0 0;}.yui-skin-sam .yui-navset-left .yui-nav .selected,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav .selected{margin:0 -1px .16em 0;}.yui-skin-sam .yui-navset-right .yui-nav .selected{margin:0 0 .16em -1px;}.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav a{border-width:1px 0;}.yui-skin-sam .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset-right .yui-nav a em{border-width:0 0 0 1px;padding:.2em .75em;top:auto;left:-1px;}.yui-skin-sam .yui-navset-right .yui-nav a em{border-width:0 1px 0 0;left:auto;right:-1px;}.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-left .yui-nav .selected a,.yui-skin-sam .yui-navset-left .yui-nav a:hover,.yui-skin-sam .yui-navset-right .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav .selected a,.yui-skin-sam .yui-navset-right .yui-nav a:hover,.yui-skin-sam .yui-navset-bottom .yui-nav a,.yui-skin-sam .yui-navset-bottom .yui-nav .selected a,.yui-skin-sam .yui-navset-bottom .yui-nav a:hover{background-image:none;}.yui-skin-sam .yui-navset-left .yui-content{border:1px solid #808080;border-left-color:#243356;}.yui-skin-sam .yui-navset-bottom .yui-nav,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav{border-width:5px 0 0;}.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav .selected,.yui-skin-sam .yui-navset-bottom .yui-nav .selected{margin:-1px .16em 0 0;}.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li,.yui-skin-sam .yui-navset-bottom .yui-nav li{padding:0 0 1px 0;vertical-align:top;}.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav a em,.yui-skin-sam .yui-navset-bottom .yui-nav a em{border-width:0 0 1px;top:auto;bottom:-1px;}
.yui-skin-sam .yui-navset-bottom .yui-content,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-content{border:1px solid #808080;border-bottom-color:#243356;}



/********************/
/** tag list**/
/********************/

.tag-list li{
	float: left; 
	padding-right: 5px;
	color: #5A5A5A;
}